@model Blog.Models.Article
@{
    ViewData["Title"] = Model.Name;
}
<div class="card">
    @if (Model.BlogUser != null)
    {
        <div class="card-header">
            Written by @Model.BlogUser.Email
        </div>
    }
    <div class="card-body">
        <h4 class="badge badge-secondary">@Model.Category</h4><br />
        @foreach (var tag in Model.Tags)
        {
            <h6 class="badge badge-primary">@tag.TagText</h6>
        }
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Model.Description</p>
        @if (User.Identity.IsAuthenticated)
        {
            <a asp-controller="Home" asp-action="EditArticle" asp-route-id="@Model.ArticleId" class="btn btn-primary">Edit article</a>
        }
    </div>
    @if (Model.HeroImage != null)
    {
        <img class="card-img-bottom" src="@GetImgSrc()" alt="Card image cap">
    }
</div>

@functions
{
    public string GetImgSrc()
    {
        string imageBase64Data = Convert.ToBase64String(Model.HeroImage);
        return string.Format("data:image/jpg;base64,{0}", imageBase64Data);
    }
}